/* THUMB :  WIDTH, HEIGHT & FONT */
table.thumb td a, .table.thumb td a:link, .table.thumb td a:visited, .table.thumb td a:hover, .table.thumb td a:visited:hover {
   color: #ffffff;
	font-size: 9pt;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
	padding-bottom: 2px;
   text-decoration: none;
   width: 162px;
	_height:		208px; /*IE up to version 6*/
	min-height: 208px;
	max-height: 500px;
}
/* THUMB : COLORS */
table.thumb td a:link, table.thumb td a:visited {
   background-color: #7F90A0;
   border: 3px outset #AFBECF;
	text-decoration: none;
}
/* THUMB : COLORS : HOVER */
table.thumb td a:hover {
   background-color: #9BAAB9;
   border: 3px outset #DFE5EC;
}
/* SUBFOLDER : WIDTH, HEIGHT & FONT  */
table.subfolder td a, .table.subfolder td a:link, .table.subfolder td a:visited, .table.subfolder td a:hover, .table.subfolder td a:visited:hover {
   color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
   display: block;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
	padding-bottom: 5px;
   text-decoration: none;
   width: 162px;
	_height:		206px; /*IE up to version 6*/
	min-height: 206px;
	max-height: 500px;
	text-decoration: none;
}
table.marknew td a {
	background-image: url(../images/new.gif);
   background-repeat: no-repeat;
	background-position: bottom right;
}
/* SUBFOLDER : COLORS */
table.subfolder td a:link, table.subfolder td a:visited {
   background-color: #A4B1BF;
   border: 3px outset #AFBECF;
	text-decoration: none;
}
/* SUBFOLDER : COLORS : HOVER */
table.subfolder td a:hover {
   background-color: #C2CFD8;
   border: 3px outset #DFE5EC;
}
/* ALL : MARGIN */
table.subfolder, table.thumb {
   border-collapse: collapse;
	text-align:center;
   margin: 5px;
}
/* ALL : THUMB BORDERS */
table.border td a .thumb, table.thumb td a .thumb{
   border: 1px inset #333E46;
}
table.subfolder td a img, table.thumb td a img{
   border: 0;
}
/* TABLE ABOVE HEADLINE */
.table-top {
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
   vertical-align: top;
	height: 20px;
	border: 0;
}

/* HEADLINE BAR */
.table-headline {
	text-decoration: none;
   vertical-align: top;
	text-align: right;
	height: 30px;
	background-color: #333E46;
	border-bottom: 1px solid #1B252B;
	border-top: 1px solid #1B252B;
	letter-spacing: 5px;
	padding-right: 5px;
}
.headline{
  margin: 5,5,5,5;
  font-size: 12pt; 
  font-weight: normal; 
  text-align: right; 
  letter-spacing: 8px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  background-color: #333E46; 
  color: white;
}
.headline:first-letter { 
  color:     #E9EAF8; 
  font-style: bold; 
  font-size:  16pt; 
}
/* FOLDER INTRO TEXT */
.introtext {
   margin: 6px 12px 6px 12px;
	text-align: left;
	color: white;
}

/* NAVIGATION THUMBS PROPERTIES */
table.minithumb .activ {
   background-color: #B9BBFF;
   border: 2px solid #1B252B;
}
table.minithumb .inactiv {
   border: 0px;
}

/* VIEWIMAGE IMAGE PROPERTIES */
.viewimage {
   border: 5px inset #333E46;
}

/* ICONBAR IN HEADLINE */
.iconbar {
	padding-top:  2px;
	padding-left: 5px;
	text-align: left;
   vertical-align: top;
}

/* IMAGE DESCRIPTION */
.description {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	color: #D5D7F0;
	text-decoration: none;
}

/* COPYRIGHT NOTICE */
.copyright {
	font-size: 9pt;
	color: white;
   text-align: center;
}

/* EXIF TABLE */
.exif {
	width: 565px;
	font-size: 8pt;
	color: white;
	text-align: center;
	border: 0px;
}
.item {
	white-space: nowrap;
}

/* STRONG, USED IN EXIF TABLE */
strong {
	font-size: 8pt;
	color: #D5D7F0;
}

/* COMMENT TABLE */
.table-comments {
	font-size: 8pt;
	padding: 5px;
	color: white;
	line-height: 10pt;
}

/* COMMENT DATE, USER ETC. */
.comment-headline {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	height: 30px;
}

.comment-aboveline {
	width: 550px;
	height: 20px;
   font-weight: bold;
	height: 20px;
	border-bottom: 1px solid #CBCBCB;
	vertical-align: bottom;
	padding: 5px;
}

/* THE COMMENT */
.comment-belowline {
	width: 550px;
	height: 20px;
	vertical-align: top;
	padding: 5px;
}

/* AUTO SCROLL BARS IN TEXTAREAS */
textarea {
	overflow: auto;
}

/* COMMENT INPUT FIELD */
.comment-textfield {
	font-size: 9pt;
	border: 1px solid #1B252B;
	background-color: #333E46;
	color: white;
}

/* COMMENT INPUT FIELD ERROR*/
.error {
	font-size: 9pt;
	border: 1px solid red;
	background-color: #333E46;
	color: white;
	background-image: url(../images/warning_obj.gif);
	background-position: right top;
	background-repeat: no-repeat;
	padding-right: 16px;
}

/* COMMENT SUBMIT BUTTON */
.comment-button {
	font-size: 8pt;
	color: white;
	background-color: #333E46;
	border: 1px solid #1B252B;
	padding: 1px;
}

/* POWERED BY MG2 CREDITS (DO NOT REMOVE FROM SCRIPT!) */
.credits {
	font-size: 8pt;
	color: white;
   text-align: center;
}

/* BODY PROPERTIES */
.mg2body {
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
   font-size: 9pt;
	color: #ffffff;
	background-color: #404D57;
	margin: 0px;
   padding: 0px;
}

/* LINK PROPERTIES */
.mg2body a:link, .mg2body a:visited {
   color: #D5D7F0; text-decoration: none;
}
.mg2body a:hover, .mg2body a:visited:hover { 
   color: white; text-decoration: none;
}
